.blog {
    padding-left: 20px;
    padding-right: 20px;
}

.blog__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.blog__header-title {
    font-family: Bebas Neue, cursive;
    font-size: 38px;
    font-weight:lighter;
    margin-bottom: 15px;
}
.light-divider-line {
    background-color: var(--light-color);
    height: 2px;
    width: 8%;
    min-width: 3%;
    text-align: center;
}

.blog__header-slogan {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    line-height: 30px;
    text-align: center;
    color: #717474;
}

.blog__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    border: 1px solid rgba(33, 39, 54, 0.12);
    text-align: center;
    font-size: 24px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 70px;
}