.choose-us__img {
    height: 50px;
    width: 50px;
}
.choose-us {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding: 25px 15px;
    text-align: center;
}
.choose-us__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

}
.choose-us-header__divider {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.choose-us__divider {
    display: block;
    box-sizing: border-box;
    margin: 15px 0;
    height: 2px;
    width: 8%;
    background-color: #e0e0e0;
}
.choose-us__h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 45px;
    font-weight: 400;
}
.choose-us__block p {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(113, 116, 116);
}
.choose-us__block {
    display: block;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #e0e0e0; 
    margin: 5px;
    min-width: 240px;
    padding: 30px 20px;
}
.choose-us__grid-inner {
    box-sizing:border-box;
    margin-top: 30px;
}
@media (min-width: 767px) {
    .choose-us__grid-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
}
}
@media (min-width: 900px) {
    .choose-us__grid-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
}
}
.choose-us__icon {
    display: flex;
    justify-content: center;
}
.choose-us__box-header {
    font-family: "Bebas Neue", cursive;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
}
.choose-us__box-text {
    margin-top: 15px;
}