*{
    margin: 0;
    padding: 0;
}

:root{
    --accent-color: rgb(244, 1, 6);
    --background-color: #222323;
    --font-color-background: rgb(255, 255, 255);
    --light-color:rgb(224, 224, 224);
    --main-color:rgb(34, 35, 35);
    --text-color: rgb(113, 116, 116);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.point {
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    color: var(--accent-color);
    font-weight: 400;
}
.divider-line {
    box-sizing: border-box;
    margin: 15px 0;
    height: 2px;
    width: 18%;
    background-color: var(--accent-color);

}
img {
    display: block;
    width: 100%;
}
.divider {
    height: 2px;
    width: 18%;
    background-color: var(--accent-color);
}
.wear-blocks-group-wrapper {
    display: block;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: auto;
    width: 100%;
}
.wear-section {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.new__arrivials__divider {
    border-top: 2px solid rgb(224, 224, 224);
    padding: 10px 0;
    width: 33%;
    margin-left: 1rem;
}
.wear-section_grid-top {
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    margin: auto;
    width: 90%;
}
@media (min-width: 767px) {
    .wear-section_grid-top {
        box-sizing:border-box;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 20px;
        margin: auto;
        width: 90%;
    }
}
.wear-section__block {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 0 15px;
}

.wear-section__inner-arivals {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/arrivals-img.svg);
    background-size: cover;
    background-position: center;
    background-position: 14.53% 36.12%;
    min-height: 300px;
    height: 100%;
}

.wear-section__inner-trainers {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/trainers-img.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    min-height: 300px;
    height: 100%;
}

.wear-section__inner-sale {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/hot-sale-img.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    min-height: 300px;
    height: 100%;
}
.wear-section__text {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", cursive;
    line-height: 1.2;
    font-weight: 400;
    padding: 30px;
}

.h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
}
.p a{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--main-color);
}
.p a:hover {
    text-decoration: underline;
}
