.footer__top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color-background);
    font-family: PT Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}

.footer__bottom-container {
    background-color: var(--background-color);
    color: var(--font-color-background);
    padding-left: 50px;
    padding-right: 50px;
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__nav-logo {
    margin-top: 70px;
    margin-bottom: 30px;
    height: auto;
    width: 180px;
}

.footer__nav-text {
    color: rgba(255,255,255,0.65);
    line-height: 27px;
    text-align: center;
}

.footer__nav-title {
    font-family: Bebas Neue, cursive;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}

.footer__nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__nav-links li {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.footer__nav-links li a {
    text-decoration: none;
    color: var(--font-color-background);
}

.footer__nav-links li a:hover {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: underline white;
}

.footer__nav-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__social-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__social-buttons a {
    border: 0.1em solid red;
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 4px 8px 4px 8px;
    margin: 5px;
}

.footer__social-buttons a:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    color: var(--background-color);
}

.thin-light-line {
    height: 1px;
    opacity: 0.3;
    background-color: var(--light-color);
    margin-bottom: 20px;
}

.footer__bottom-row-text {
    padding-bottom: 30px;
    font-family: Bebas Neue, cursive;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}
.currencies {
    margin-bottom: 20px;
}

.currencies a {
    text-decoration: none;
    color: var(--font-color-background);
    font-family: PT Sans, sans-serif;
    font-size: 15px;
}

.currencies__divider {
    color: var(--accent-color);
}

.footer__nav-links .divider-line {
    width: 70%;
}

.footer__nav-icons .divider-line {
    width: 70%;
}

@media (min-width: 720px) {
    .footer__top-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        padding-bottom: 20px;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__nav-logo {
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .footer__nav-text {
        text-align: left;
    }

    .footer__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__nav-links li {
        text-align: left;
    }

    .divider-line {
        width: 43px
    }

    .footer__nav-icons-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .footer__bottom-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .currencies a {
        display: inline;
    }

    .currencies__divider {
        font-weight: bold;
    }
}