.header__top-row {
    background-color: rgb(214, 3, 7);
    justify-content: space-between;
    padding: 15px;
    display: none;
   
}
.header__top-row-header-text {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;  
}

.header__top-row-link {
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
}
.header__top-row-link:hover {
    text-decoration: underline; 
   
}

.header__nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__nav-logo {
    width: 168px;
}


.header__nav-links * {
    color: #FFF;
    margin-right: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

}
.ico {
    border:  0.1em solid #FFF ;
    
    color: #FFF;
    margin: 5px;
    padding: 10px;
   
}
.ico:hover {
    background-color: #FFF;
    color: var(--background-color);
}
.header__nav-links *:hover {
    text-decoration: underline;
}
.new-collections {
    background-image: url(../img/new-collection-background.webp);
    background-size: cover;
    background-position: 5% 0%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.new-collections-text {
    padding: 110px 24px 110px 24px;
    max-width: 1200px;
    margin: auto;
}
.shop-now {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    border: 0.1em solid var(--accent-color);
    background-color: var(--accent-color);
    padding: 18px 40px 18px 40px;
}
.new-collections__slogan {
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    color:rgba(34,35,35,0.46);
}
.grey-heading{
    font-size: 62px;
    font-family: 'Bebas Neue', cursive;
    color: var(--main-color);
    font-weight: 400;
    line-height: 62px;
    padding: 16px 0px 50px 0px;
}
.red-heading {
    color: var(--accent-color);
}
@media( min-width:992px) {
.grey-heading {
    font-size: 124px;
    line-height: 124px;
}
.header__top-row {
    display: flex;
}
.new-collections-text {
    padding-top: 210px;
    padding-bottom: 210px;  
}
}
