.mid-season-sale__inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.text-content {
  font-family: 'Bebas Neue', cursive;
  font-size: 38px;
  font-weight: 400;
  color: var(--main-color);
}

.line {
  height: 2px;
  background-color: var(--text-color);
  width: 30px;
}

.mid-season-sale-about {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: var(--text-color);
  padding: 0px 24px 0px 24px;
}

.mid-season-sale-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 40px 100px 40px;
}

.mid-season-sale-img {
  width: 100%;
}

.mid-season-sale-link {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 24px;
  padding-right: 10px;
  min-height: 48px;
}

.mid-season-sale-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  color: var(--accent-color);
}

.button-add {
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--font-color-background);
  padding: 1rem;
  background-color: var(--background-color);
  border: none;
}

.button-add:hover {
  background-color: var(--accent-color);
}

@media(min-width: 540px) {

  .mid-season-sale-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mid-season-sale-list-item {
    flex-grow: 1;
    flex-basis: 45%;
    align-items: start;
  }
}

@media(min-width: 770px) {

  .mid-season-sale-list-item {
    flex-basis: 30%;
  }
}

@media(min-width: 980px) {

  .mid-season-sale-list {
    flex-wrap: nowrap;
  }

}