.mid-season-sale {
  padding: 90px 24px 90px 24px;
}

.mid-season-sale__inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content {
  font-family: 'Bebas Neue', cursive;
  font-size: 38px;
  font-weight: 400;
  color: var(--main-color);
}

.line {
  height: 2px;
  width: 8%;
  background-color: var(--light-color);
  margin: 15px 0;
}

.mid-season-sale-about {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: var(--text-color);
  padding: 0px 24px 0px 24px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
}

.mid-season-sale-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mid-season-sale-img {
  width: 100%;
  margin-top: 20px;
}

.mid-season-sale-link {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 8px;
  padding-right: 10px;
  min-height: 48px;
}

.mid-season-sale-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.button-add {
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--font-color-background);
  padding: 15px 26px;
  background-color: var(--background-color);
  border: none;
  margin-top: 24px;
}

.button-add:hover {
  background-color: var(--accent-color);
}

@media(min-width: 540px) {

  .mid-season-sale-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mid-season-sale-list-item {
    flex-grow: 1;
    flex-basis: 45%;
    align-items: start;
  }
}

@media(min-width: 770px) {

  .mid-season-sale-list-item {
    flex-basis: 30%;
  }

  .text-content {
    font-size: 45px;
    line-height: 1.14;
  }
}

@media(min-width: 980px) {

  .mid-season-sale-list {
    flex-wrap: nowrap;
    margin-top: 50px;
  }

  .mid-season-sale {
    padding: 110px 40px 120px 40px;
  }

  .mid-season-sale-link {
    margin-top: 24px;
  }

  .text-content {
    font-size: 52px;
  }

  .mid-season-sale-about {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

  .button-add {
    margin-top: 24px;
    padding: 15px 26px;
  }
}