#new__arrivials {
    display: flex;
    flex-direction: column;
    padding: 80px 24px 0px 24px;
}

.new__arrivials__top {
    padding-left: 47px;
}

.new__arrivials__top__header {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-weight: 400;
    color: var(--main-color);
}

.point {
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    color: var(--accent-color);
    font-weight: 400;
}

.new__arrivials__divider {
    border-top: 2px solid rgb(224, 224, 224);
    padding: 10px 0;
    width: 33%;
    margin-left: 0 !important;
}

.new__arrivials__top__text {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

.new__arrivials__button {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: var(--main-color);
    border: 2px solid;
    padding: 1rem;
    background-color: white;
    margin: 1rem 0;
}

.new__arrivials__button:hover {
    color: rgb(255, 255, 255);
    background-color: var(--main-color);
}

.new__arrivials__link__shop {
    text-decoration: none;
}

.new__arrivials__link {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 8px;
}

.new__arrivials__carousel {
    position: relative;
    width: 100%;
}

.new__arrivials__carousel-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new__arrivials__product {
    margin: 10px 10px;

}

.new__arrivials__preview-img {
    height: 300px;
    width: 100%;
}

.new__arrivials__price {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    color: var(--accent-color);
}

.new__arrivials__carousel__button__add {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 1rem;
    background-color: var(--main-color);
    border: none;
    margin-top: 15px;
    z-index: 10;
}

.new__arrivials__carousel__button__add:hover {
    color: rgb(255, 255, 255);
    background-color: var(--accent-color);
}

.new__arrivials__carousels__button__move {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 40%;
    width: 100%;
}

.new__arrivials__carousels__button__move svg {
    fill: #000;
    height: 1.2em;
    width: 1.2em;
}

.new__arrivials__carousels__button__back svg {
    transform: scaleX(-1);
}

.new__arrivials__carousels__button__back {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    display: flex;
    height: 2em;
    justify-content: center;
    opacity: .7;
    padding: 0;
    align-items: center;
    width: 2em;
    margin-left: 20px;
}

.new__arrivials__carousels__button__forward {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    display: flex;
    height: 2em;
    justify-content: center;
    opacity: .7;
    padding: 0;
    align-items: center;
    width: 2em;
    margin-right: 25px;
}

.adidas__black__trainers {
    padding-left: 7.5px;
    padding-right: 15px;
}

.asics__jordan {
    padding-left: 7.5px;
    padding-right: 15px;
}

.nike__winter__jacket {
    padding-left: 7.5px;
    padding-right: 15px;
}

.puma__textile__runnig {
    padding-left: 7.5px;
    padding-right: 15px;
}

.reebok__red__dusters {
    padding-left: 7.5px;
    padding-right: 15px;
}

@media (min-width: 750px) {
    .new__arrivials__carousel__img {
        justify-content: space-between;
    }

}

@media (min-width: 1020px) {

    #new__arrivials {
        display: flex;
        flex-direction: row;
    }

    .new__arrivials__top {
        width: 20%;
        padding-right: 50px;
    }

    .new__arrivials__carousel__img {
        justify-content: space-between;
    }

    .new__arrivials__preview-img {
        height: 200px;
        width: 100%;
    }

}

@media (min-width: 1550px) {

    .new__arrivials__top {
        width: 20%;
        padding-right: 50px;
    }

    .new__arrivials__carousel-slide-container {
        justify-content: space-between;
    }

    .new__arrivials__preview-img {
        height: 300px;
        width: 100%;
    }

}