.new__arrivials__top__header {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-weight: 400;
    color: var(--main-color); 
    margin-left: 1rem;
}
.point {
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    color: var(--accen-color);
    font-weight: 400; 
}
.new__arrivials__divider {
    border-top: 2px solid rgb(224, 224, 224);
    padding: 10px 0;
    width: 33%;
    margin-left: 1rem;
}

.new__arrivials__top__text {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    color: var(--text-color); 
    margin-left: 1rem;
}
.new__arrivials__button {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: var(--main-color); 
    border: 2px solid;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
}
.new__arrivials__link__shop{
    text-decoration: none;
}
.new__arrivials__link {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400; 
    color: var(--text-color);
    margin-top: 8px;
}
.new__arrivials__price{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    color: var(--accen-color); 
}


