.splide__track {
    margin: 54px;
}
.slider__brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-color);
    height: 300px;
    box-sizing: border-box;
}

.slider__brand img {
    object-fit: contain;
    object-position: 50% 55%;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    text-align: center;
}

@media (min-width: 768px) {
    .splide__list li {
        width: calc(100% / 2) !important;
    }

    .slider__brand {
        height: 220px;
        margin-right: 30px;
    }

    .splide__track {
        margin-right: 24px;
    }
}

@media (min-width: 980px) {
    .splide__list li {
        width: calc(100% / 4) !important;
    }

    .slider__brand {
        height: 120px;
    }

}

@media (min-width: 1040px) {

    .splide__track {
        margin: 70px;
    }

    .splide__track {
        margin-right: 40px;
    }

    .slider__brand {
        height: 150px;
    }

}