.images__carousel{
    position: relative;
    padding: 90px 24px 20px 24px;
    margin: 0 20px 0 20px;
}

.slider__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-color);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.slider__brand img {
    object-fit: contain;
    object-position: 50% 50%;
    box-sizing: border-box;
    height: 240px;
    width: 50%;
    text-align: center;
}

.arrow-button {
    width: 12px;
    height: 12px;
}

.images__carousel-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.images__carousel-back {
    position: absolute;
    z-index: 1;
    left: 15px;
    text-align: center;
    top: 55%;
    margin: 0;
}

.images__carousel-forward {
    position: absolute;
    z-index: 1;
    right: 15px;
    text-align: center;
    top: 55%;
}

